/* Utilitario */

@import url("./componentes/cores.css");
@import url("./componentes/tipografias.css");
@import url("./componentes/componentes.css");


/* Geral */

body {
  margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.555;
  font-weight: 500;
  
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Header */

.header-bg {
  background-color: var(--cor-8);
}

.header-container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 34px 20px 66px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-container a:first-child {
  max-height: 64px;
}

/* Column 1 Main */
.column-1-bg {
  background-color: var(--cor-8);
}

.column-1-container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 20px;

}

.column-1-top {
  text-align: center;
}

.column-1-top p {
  max-width: 55ch;
  margin: 0 auto;
}

.column-1-card-list {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 24px;
  margin-top: 80px;
}

li.column-1-card-item {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  justify-content: space-between;
}

li.column-1-card-item:first-child {
  background-color: var(--cor-0);
  grid-row: 1/3;
  border-radius: 8px;

}

li.column-1-card-item:first-child img {
  margin-bottom: 96px;
}

li.column-1-card-item:nth-child(2) {
  background-color: var(--cor-1);
}

li.column-1-card-item:nth-child(3) {
  background-color: var(--cor-2);
}

li.column-1-card-item:nth-child(4) {
  background-color: var(--cor-4);
}

li.column-1-card-item:nth-child(5) {
  background-color: var(--cor-3);
  grid-column: span 2;
}

li.column-1-card-item:nth-child(6) {
  background-color: var(--cor-5);
  grid-column: 4;
}

li.column-1-card-item img {
  place-self: end;
}

/* Coluna 2 Main */
.column-2-bg {
  background-color: var(--cor-8);
}

.column-2-container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 136px 20px 88px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.column-2-container picture {
  max-width: 450px;
  margin-right: 20px;

}

.column-2-right p {
  margin-top: 34px;
  margin-bottom: 32px;
}

/* Column 3 */

.column-3-container {
  background-color: var(--cor-8);
  overflow: hidden;
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.column-3-container h2 {
  text-align: center;
}

.column-3_slider {
  padding: 56px 0px;
  display: flex;
  gap: 30px;
 }

.slider_item {
  min-width: 540px;
  
}

.slider_item img{
  border-radius: 8px;
  animation: slideAnimation .6s;
  }

.button-container {
  text-align: center;
  margin-bottom: 88px;
}

.button-container button:first-child {
  margin-right: 16px;
}


@keyframes slideAnimation {
  0% {opacity: 0.3}
  100% {opacity: 1}
}

/* Column 4 */

.column-4-bg {
  background-color: var(--cor-8);
  padding: 0px 20px;
}

.column-4-container {
  max-width: 1110px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: black;
  padding: 80px 65px;
  border-radius: 10px;
  align-self: start;
  box-sizing: border-box;

}

.column-4-container a.botao2 {
  align-self: center;
  justify-self: start;
  margin-left: 27px;
}

.column-4-container .column-4-text h2 {
  margin-bottom: 25px;
}

.column-4-container .column-4-text p {
  max-width: 42ch;
}

/* footer */

.footer-bg {
  background-color: var(--cor-8);
}

.footer-container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 0px 64px 0px;
}