/* font-family: 'Plus Jakarta Sans', sans-serif; */

.font-1-h-xl{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 3.5rem;
  line-height: 1.25;
  font-weight: 700;
}

.font-1-h-x{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2.5rem;
  line-height: 1.275;
  font-weight: 700;
}

.font-1-h-l{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 700;
}

.font-1-h-s{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 700;
}

.font-1-l{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.555;
  font-weight: 500;
}


@media (max-width:1200px){
  .font-1-h-xl{
    font-size: 2.75rem;
  }
  .font-1-h-x{
    font-size: 2rem;
  }
}

@media (max-width:700px){
  .font-1-h-xl{
    font-size: 2rem;
  }
  .font-1-h-x{
    font-size: 1.625rem;
  }
}