/* footer */

.footer-bg {
  background-color: var(--cor-8);
}

.footer-container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 56px 20px 64px 20px;
}

@media (max-width:600px){
  
  .footer-container {
    padding-top: 40px;
    padding-bottom: 32px;
  padding-left: 12px;
  padding-right: 12px;
  }
}